# misc
.idea
.coverage

# icinga
constants.conf
conf.d/api-users.conf
features-available
features-enabled
pki
scripts/mail-host-notification.sh
scripts/mail-service-notification.sh
zones.d
*.orig

# dariah
conf.d/sites/dariah/passwords/

# python
*.pyc

# Sublime Text
clarin-eric_monitoring.sublime-project
clarin-eric_monitoring.sublime-workspace
