# misc
.idea
.coverage

# icinga
./constants.conf
./icinga2.conf
./conf.d/api-users.conf
./features-available
./features-enabled
./pki
./scripts/mail-host-notification.sh
./scripts/mail-service-notification.sh
./zones.d

# python
*.pyc

# Sublime Text
clarin-eric_monitoring.sublime-project
clarin-eric_monitoring.sublime-workspace
