# misc
.idea
.coverage
config.ini

# nagios/icinga
ido2db.cfg
resource.cfg
htpasswd.users
apache2.conf
stylesheets

# automated validation
checkresults
update.sh
config_generation/configuration

# python
*.pyc

# Sublime Text
clarin-eric_monitoring.sublime-project
clarin-eric_monitoring.sublime-workspace
