###
### Host declarations for Stuttgart
###

### Hostgroup just for better visualization
define hostgroup {
    hostgroup_name Stuttgart
    members IMS
}

###
### HOST DEFINITIONS
###

define host {
    use             custom-active-host
    host_name       clarin04.ims.uni-stuttgart.de
    address         141.58.160.14
    register        1
	contacts                      jens.stegmann@ims.uni-stuttgart.de
}
