###
### Hostdefinitios for Stuttgart
###

### Hostgroup just for better visualization
define hostgroup{
        hostgroup_name Stuttgart
        members IMS
}

###
### HOST DEFINITIONS
###

define host {
        use             custom-active-host
        host_name       clarin04.ims.uni-stuttgart.de
        address         141.58.160.14
        register        1
	contacts                      gAAAAABVZx5sSYUaiEYI2usUa-MXa4AQhRJ_JtLcQPsLPDaFx81tzMRPqMSfbPBL1YKaCAkoHcl4HEi7kwNg0XxdqzNKnbG1HWDIoccClqW7jxEexXjWwXVg8LimbgpW-d5irs0hq03x

}
