define hostgroup {
    alias          Universiteit Utrecht
    hostgroup_name UU-hostgroup
}

# Template
define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    hostgroups UU-hostgroup
    name       UU-host
    register   0
    use        custom-active-host
}

define host {
    alias      CLARIN WWW [prod]
    host_name  www.clarin.eu
    use        UU-host
}
