define servicegroup {
    servicegroup_name        UU-servicegroup
}

# Template
define service {
    check_interval           60
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
    name                     UU-service
    register                 0
    servicegroups            UU-servicegroup
    use                      clarin-direct-warning
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443!!
    host_name                www.clarin.eu
    service_description      Official CLARIN website [prod]
    use                      UU-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command            probe_http_head!http!$HOSTADDRESS$!!80!!
    host_name                lists.clarin.eu
    service_description      CLARIN mailing lists [prod]
    use                      UU-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}