define servicegroup {
    servicegroup_name        UU-servicegroup
}

# Template
define service {
    check_interval           60
    contacts                 gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5sgoTDhM8m6twtI6pev7AhBYETVU4-7Ao2paMX4qhP9vHMr84goO9Jye5-RL0CBzmUZCjwHZg2bi3UrFNTMupvxA==
    name                     UU-service
    register                 0
    servicegroups            UU-servicegroup
    use                      clarin-direct-warning
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443
    host_name                www.clarin.eu
    service_description      Official CLARIN website [prod]
    use                      UU-service
}

define service {
    check_command            probe_http_head!http!$HOSTADDRESS$!!80
    host_name                lists.clarin.eu
    service_description      CLARIN mailing lists [prod]
    use                      UU-service
}