# Configuration file /home/webhook/configuration/configuration/ACDH/ARCHE.cfg
# Edited by PyNag on Wed Oct 18 15:00:07 2017

define host {
	 use                            custom-active-host            
	 display_name                   Austrian Centre for Digital Humanities / A Resource Centre for the HumanitiEs
	 _LAT                           48.209117                     
	 contacts                       sysops@clarin.eu,dalibor.pancic@oeaw.ac.at,karlheinz.moerth@oeaw.ac.at,matej.durco@assoc.oeaw.ac.at,acdh-tech@oeaw.ac.at
	 check_command                  check_dummy                   
	 _LONG                          16.377080                     
	 host_name                      ACDH/ARCHE                    
}

# Configuration file /home/webhook/configuration/configuration/ACDH/ARCHE.cfg
# Edited by PyNag on Wed Oct 18 15:00:07 2017

define servicegroup {
	 alias                          ACDH/ARCHE_centerregistry     
	 servicegroup_name              ACDH/ARCHE_centerregistry     
}

# Configuration file /home/webhook/configuration/configuration/ACDH/ARCHE.cfg
# Edited by PyNag on Wed Oct 18 15:00:07 2017

define servicegroup {
	 alias                          ACDH/ARCHE                    
	 servicegroup_members           ACDH/ARCHE_centerregistry     
	 servicegroup_name              ACDH/ARCHE                    
}

# Configuration file /home/webhook/configuration/configuration/ACDH/ARCHE.cfg
# Edited by PyNag on Wed Oct 18 15:00:07 2017

