define hostgroup {
    alias Rechenzentrum Garching
    hostgroup_name RZG-hostgroup
}

define hostgroup {
    alias rzg-common
    hostgroup_name rzg-common
}

# Template
define host {
	contacts                      dietuyt_mpi.nl@clarin.eu
    hostgroups RZG-hostgroup
    name       RZG-host
    register   0
    use        custom-passive-host
}

define host {
	contacts                      dummy
    host_name     ws2-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     ws1-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     ws3-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     idp-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     dev-idp-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     centerregistry-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     weblicht-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     catalog-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name     centres-clarin.esc.rzg.mpg.de
    use           RZG-host
    hostgroups    rzg-common
}

define host {
	contacts                      dummy
    host_name  idp.clarin.eu
    use        RZG-host
}

define host {
	contacts                      dummy
    host_name  dev-idp.clarin.eu
    use        RZG-host
}

define host {
	contacts                      dummy
    host_name  discovery.clarin.eu
    use        RZG-host
}

define host {
	contacts                      dummy
    host_name  centres.clarin.eu
    use        RZG-host
}

define host {
	contacts                      dummy
    host_name  centres-staging.clarin.eu
    use        RZG-host
}
