define hostgroup {
    alias Rechenzentrum Garching
    hostgroup_name RZG
}

# Template
define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    hostgroups RZG,RZG-hostgroup
    name       RZG-host
    register   0
    use        custom-passive-host
}

define host {
    contacts      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name     ws2-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
}

define host {
    contacts      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name     centres-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
}

define host {
    contacts      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name     ws1-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
}

define host {
    contacts      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name     ws3-clarind.esc.rzg.mpg.de
    use           host-pnp,RZG-host
}


define host {
    contacts      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name     idp-clarin.esc.rzg.mpg.de
    use           host-pnp,RZG-host
}

define host {
    contacts   gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name  idp.clarin.eu
    use        RZG-host
}

define host {
    contacts   gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name  dev-idp.clarin.eu
    use        RZG-host
}


define host {
    contacts   gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name  discovery.clarin.eu
    use        RZG-host
}

define host {
    contacts   gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    host_name  centres.clarin.eu
    use        RZG-host
}
