define servicegroup {
     servicegroup_name      RZG-servicegroup
}

# Template
define service {
    check_interval          60
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
    name                    RZG-service
    register                0
    servicegroups           RZG-servicegroup
    use                     clarin-direct-warning
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!discojuice!443!!
    host_name               discovery.clarin.eu
    service_description     CLARIN DS [UI][prod]
    use                     RZG-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command           probe_json!https!$HOSTADDRESS$!metadata/clarin_spf_idps.json!443!!
    host_name               discovery.clarin.eu
    service_description     CLARIN DS [JSON][prod]
    use                     RZG-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!profile/Status!443!!
    host_name               idp.clarin.eu
    service_description     CLARIN IdP [UI][prod]
    use                     RZG-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!profile/Status!443!!
    host_name               dev-idp.clarin.eu
    service_description     CLARIN IdP [UI][dev]
    use                     RZG-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!about!443!!
    host_name               centres.clarin.eu
    service_description     CLARIN Centre Registry [UI][prod]
    use                     RZG-service
	contacts                      dietuyt_mpi.nl@clarin.eu,latadmin@mpi.nl
}

define service {
    check_command           check_nrpe!check_load
    check_interval          10
	contacts                      dummy
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    service_description     LOAD
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe
	contacts                      dummy
    description             ANRPE
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_ssh
	contacts                      dummy
    description             SSH
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_ram
	contacts                      dummy
    description             MEMORY
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_root
	contacts                      dummy
    description             DISK
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_network
	contacts                      dummy
    description             IPTRAFFIC
    host_name               ws2-clarind.esc.rzg.mpg.de,centres-clarin.esc.rzg.mpg.de,ws1-clarind.esc.rzg.mpg.de,ws3-clarind.esc.rzg.mpg.de
    register                1
    use                     custom-passive-service,srv-pnp
}
