# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define servicegroup {
	 alias                          BBAW                          
	 servicegroup_name              BBAW                          
}

