# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/CELREKK.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          CELR/EKK                      
	 servicegroup_name              CELR/EKK                      
}

