# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/DANS_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          DANS_centerregistry           
	 servicegroup_name              DANS_centerregistry           
}

