# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/DLU.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          DLU                           
	 servicegroup_name              DLU                           
}

