# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/DLU_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          DLU_centerregistry            
	 servicegroup_name              DLU_centerregistry            
}

