# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/EKUT_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          EKUT_centerregistry           
	 servicegroup_name              EKUT_centerregistry           
}

