# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/FIN-CLARIN_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define servicegroup {
	 alias                          FIN-CLARIN_centerregistry     
	 servicegroup_name              FIN-CLARIN_centerregistry     
}

