# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/IMS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define servicegroup {
	 alias                          IMS                           
	 servicegroup_name              IMS                           
}

