# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/RZG_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define servicegroup {
	 alias                          RZG_centerregistry            
	 servicegroup_name              RZG_centerregistry            
}

