# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/SLDR_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define servicegroup {
	 alias                          SLDR_centerregistry           
	 servicegroup_name              SLDR_centerregistry           
}

