# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/SLDR.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define servicegroup {
	 alias                          SLDR                          
	 servicegroup_name              SLDR                          
}

