# Configuration file clarin_monitoring_config/configuration/pynag/servicegroups/UdS_centerregistry.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define servicegroup {
	 alias                          UdS_centerregistry            
	 servicegroup_name              UdS_centerregistry            
}

