define hostgroup {
    hostgroup_name HostEurope-hostgroup
}

# Template
define host {
	contacts                      dietuyt_mpi.nl@clarin.eu
    hostgroups HostEurope-hostgroup
    name       HostEurope-host
    register   0
    use        custom-active-host
}

define host {
    address    vlo.clarin.eu
    host_name  vlo.clarin.eu
    use        HostEurope-host
	contacts                      dietuyt_mpi.nl@clarin.eu
}
