define hostgroup {
    hostgroup_name HostEurope-hostgroup
}

# Template
define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    hostgroups HostEurope-hostgroup
    name       HostEurope-host
    register   0
    use        custom-active-host
}

define host {
    address    vlo.clarin.eu
    host_name  vlo.clarin.eu
    use        HostEurope-host
}
