define servicegroup {
     servicegroup_name       HostEurope-servicegroup
}

# Template
define service {
    check_interval           60
    name                     HostEurope-service
    register                 0
    servicegroups            HostEurope-servicegroup
    use                      clarin-direct-warning
}

define service {
    check_command            probe_http_head!http!$HOSTADDRESS$!!80!!
    host_name                vlo.clarin.eu
    service_description      CLARIN VLO [UI][prod]
    use                      HostEurope-service
}
