define hostgroup {
    hostgroup_name CESNET-hostgroup
}

# Template
define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    hostgroups CESNET-hostgroup
    name       CESNET-host
    register   0
    use        custom-active-host
}

define host {
    host_name  nexus.clarin.eu
    use        CESNET-host
}

define host {
    host_name  docker.clarin.eu
    use        CESNET-host
}