define hostgroup {
    hostgroup_name CESNET-hostgroup
}

# Template
define host {
    hostgroups CESNET-hostgroup
    name       CESNET-host
    register   0
    use        custom-active-host
}

define host {
    host_name  nexus.clarin.eu
    use        CESNET-host
}

define host {
    host_name  docker.clarin.eu
    use        CESNET-host
}

define host {
    host_name  office.clarin.eu
    use        CESNET-host
}