define servicegroup {
     servicegroup_name       CESNET-servicegroup
}

# Template
define service {
    check_interval           60
    contacts                 gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5sgoTDhM8m6twtI6pev7AhBYETVU4-7Ao2paMX4qhP9vHMr84goO9Jye5-RL0CBzmUZCjwHZg2bi3UrFNTMupvxA==
    name                     CESNET-service
    register                 0
    servicegroups            CESNET-servicegroup
    use                      clarin-direct-warning
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443!!
    host_name                nexus.clarin.eu
    service_description      Sonatype Nexus [prod]
    use                      CESNET-service
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443!401!
    host_name                docker.clarin.eu
    service_description      Docker registry [prod]
    use                      CESNET-service
}