define servicegroup {
     servicegroup_name       CESNET-servicegroup
}

# Template
define service {
    check_interval           60
    name                     CESNET-service
    register                 0
    servicegroups            CESNET-servicegroup
    use                      clarin-direct-warning
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443!!
    host_name                nexus.clarin.eu
    service_description      Sonatype Nexus [prod]
    use                      CESNET-servic
}

define service {
    check_command            probe_http_head!https!$HOSTADDRESS$!!443!401!
    host_name                docker.clarin.eu
    service_description      Docker registry [prod]
    use                      CESNET-service
}