define service {
    ## sanmai 23-03-2016: Replace old check with the new standard one. Decided to not check for occurrence of specific strings in the response data.
    # check_command check_http_redefined! -H support.clarin-d.de -u /otrs/index.pl -s "Welcome to CLARIN-D Helpdesk"
    check_command probe_http_head!https!$HOSTNAME$!otrs/index.pl!443!!
    check_interval 60
    contacts dummy
    host_name support.clarin-d.de
    service_description CLARIN-D Helpdesk
    servicegroups HZSK
    use custom-active-service,srv-pnp
}