###
### Host declarations for Tuebingen
###

define hostgroup {
    hostgroup_name EKUT-hostgroup
    members        weblicht.sfs.uni-tuebingen.de,EKUT
}

define host {
	contacts        dummy
    address         weblicht.sfs.uni-tuebingen.de
    check_command   check-ping
    host_name       weblicht.sfs.uni-tuebingen.de
    register        1
    use             custom-active-host
}
