# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define servicegroup {
     alias                  Eberhard Karls Universitaet Tuebingen services
     servicegroup_name      EKUT-servicegroup
}

define service {
    host_name               EKUT
    use                     clarin-direct-warning,srv-pnp
    check_interval          60
    service_description     handle-resolving
    display_name            "handle resolving /11858/00-1778-0000-0005-896C-F?noredirect"
    check_command           check_http_redefined! -H "hdl.handle.net" -u "/11858/00-1778-0000-0005-896C-F?noredirect" -t 10
	contacts                      ypanchenko
    servicegroups           EKUT-servicegroup
}

define service {
    host_name               EKUT
    use                     clarin-direct-warning,srv-pnp
    check_interval          60
    service_description     handle-doc-access
    display_name            "handle document access /11858/00-1778-0000-0005-896C-F"
    check_command           check_http_redefined! -H "hdl.handle.net" -u "/11858/00-1778-0000-0005-896C-F" -t 10 -f follow
	contacts                      ypanchenko
    servicegroups           EKUT-servicegroup
}

define service {
    host_name               EKUT
    use                     custom-active-service
    host_name               weblicht.sfs.uni-tuebingen.de
    check_interval          60
    service_description     HTTP
    check_command           check_http
	contacts                      ypanchenko
    servicegroups           EKUT-servicegroup
}

define service {
    host_name               EKUT
    use                     custom-active-service
    host_name               weblicht.sfs.uni-tuebingen.de
    check_interval          60
    service_description     HTTPS
    check_command           check_http!-S
	contacts                      ypanchenko
    servicegroups           EKUT-servicegroup
}

