###
### Host declarations for Leipzig
###

###
### HOSTGROUP DEFINITION
###
define hostgroup{
        hostgroup_name asv
        members clarinoai.informatik.uni-leipzig.de, ASV
}

###
### HOST DEFINITIONS
###
define host {
        use             custom-active-host
        host_name       clarinoai.informatik.uni-leipzig.de
        address         clarinoai.informatik.uni-leipzig.de
        register 1
	contacts                      dummy
}
