# TODO:
#define command {
#    command_name    check_ldap
#    command_line    $USER1$/check_ldap -H $HOSTADDRESS$
#}

# TODO:
#define command {
#    command_name    check_clarin_saml
#    command_line    /srv/Nagios_plugins/check_clarin_saml.sh '$HOSTADDRESS$' 2>&1
#}

# TODO: 
#define command {
#    command_name    check_clarin_ldap
#    command_line    sudo /srv/Nagios_plugins/check_clarin_ldap.py -h '$HOSTADDRESS$' -b 'cn=Directory Manager' 2>&1
#}

define command {
    command_name    check_clarin_idp_catalog
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/mw/shibboleth-idp/Authn/UserPassword' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_idp_rzg
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/profile/Status' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_vcr
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'http://$HOSTADDRESS$/vcr' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_discojuice_html
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/discojuice' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_discojuice_html.1
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/mw1/sds/discojuice' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_discojuice_html.2
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/mw2/sds/discojuice' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_discojuice_json
    command_line    /srv/Nagios_plugins/check_json.sh $HOSTADDRESS$ '/metadata/clarin_spf_idps.json' 2>&1
}

define command {
    command_name    check_clarin_discojuice_json.1
    command_line    /srv/Nagios_plugins/check_json.sh $HOSTADDRESS$ '/discojuice/metadata_clarin1.json' 2>&1
}

define command {
    command_name    check_clarin_discojuice_json.2
    command_line    /srv/Nagios_plugins/check_json.sh $HOSTADDRESS$ '/discojuice/metadata_clarin2.json' 2>&1
}

define command {
    command_name    check_clarin_centre_registry
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_vlo
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/vlo/' 2>&1 || exit 2
}

define command {
    command_name    check_clarin_comp_reg
    command_line    curl -e 'https://clarin.fz-juelich.de/icinga/' -f -L -s -v -o /dev/null 'https://$HOSTADDRESS$/ds/ComponentRegistry/' 2>&1 || exit 2
}



# TODO: -w '@/etc/nagios3/mpi/curl.format'