define command {
    command_line    $USER1$/check_dummy 0
    command_name    check_dummy
}

# TODO: replace with new curl_probe_handle etc. commands in pynag program.
define command {
    command_line    $USER1$/check_http $ARG1$
    command_name    check_http_redefined
}

define command {
    # command is invoked after freshness is not given and emails are sent.
    # TODO: meaning? for hosts that we only get passive results from, this
    command_line    $USER1$/check_dummy 4 "UNKNOWN: Attention, did not get fresh checks!"
    command_name    freshness_warning
}

define command {
    command_line    $USER1$/check_ping -H $HOSTADDRESS$ -w 3000.0,80% -c 5000.0,100% -p 5
    command_name    check-ping
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_curl_head "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_json "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe_json
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_saml_metadata "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe_saml_metadata
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_curl_ldap "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe_ldap
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_curl_imdi "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe_imdi
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_curl_handle_json "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$" "$ARG5$"
    command_name    curl_probe_handle_json
}

###
### The commands in this section are referred to by autogenerated services based on the Centre Registry
###

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_sru_endpoint "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$"
    command_name    check_cql
}

define command {
    command_line    . "$USER3$/probe_curl.sh" && probe_oai_pmh_endpoint "$ARG1$://$ARG2$:$ARG4$/$ARG3$" "$USER3$"
    command_name    check_oai
}

###
### WebLicht
###

define command {
    command_line    sh '$USER2$/tue/jar_wrapper.sh' $ARG1$ $ARG2$ $ARG3$
    command_name    jar_wrapper
}
