define contact {
    contact_name dummy
    use          generic-contact
    email        dummy@localhost
}

# TODO: Volker is no longer involved in CLARIN, ask ASV who is the new contact person.
define contact {
    contact_name vboehlke
    use          generic-contact
    email        clarin@informatik.uni-leipzig.de
}

define contact {
    contact_name BAS
    use          generic-contact
    email        admin@phonetik.uni-muenchen.de
}

define contact {
    contact_name b.von.st.vieth_fz-juelich.de@clarin.eu
    use          generic-contact
    email        b.von.st.vieth@fz-juelich.de
}

define contact {
    contact_name oschoenfeld
    use          generic-contact
    email        schonefeld@ids-mannheim.de
}

define contact {
    contact_name jens.stegmann@ims.uni-stuttgart.de
    use          generic-contact
    email        jens.stegmann@ims.uni-stuttgart.de
}

define contact {
    contact_name wladmin@sfs.uni-tuebingen.de
    use          generic-contact
    email        wladmin@sfs.uni-tuebingen.de
}

define contact {
    contact_name latadmin@mpi.nl
    use          generic-contact
    email        latadmin@mpi.nl
}

define contact {
    contact_name jknappen
    use          generic-contact
    email        j.knappen@mx.uni-saarland.de
}

define contact {
    contact_name sysops@clarin.eu
    use          generic-contact
    email        sysops@clarin.eu
}