# A simple wildcard hostgroup
define hostgroup {
    hostgroup_name  all
    alias           All servers
    members         *
}

# A list of your Debian GNU/Linux servers
#define hostgroup {
#    hostgroup_name  debian-servers
#    alias           Debian GNU/Linux Servers
#    members         ems04.mpi.nl
#}

define hostgroup {
    hostgroup_name  ssh-servers
    members         ems04.mpi.nl, tla.mpi.nl, corpus1.mpi.nl, catalog.clarin.eu, lux17.mpi.nl
}

define hostgroup {
    hostgroup_name  corpus1.mpi.nl
    members         corpus1.mpi.nl
}

define hostgroup {
    hostgroup_name  dobes.mpi.nl
    members         dobes.mpi.nl
}

#define hostgroup {
#    hostgroup_name  corpus1.mpi.nl_plus_lux16
#    members         corpus1.mpi.nl, lux16.mpi.nl
#}

define hostgroup {
    hostgroup_name  catalog.clarin.eu
    members         catalog.clarin.eu
}

define hostgroup {
    hostgroup_name  user.clarin.eu
    members         user.clarin.eu
}

define hostgroup {
    hostgroup_name  centres.clarin.eu
    members         centres.clarin.eu
}

define hostgroup {
    hostgroup_name  cql-servers
    members         cqlservlet.mpi.nl
}

define hostgroup {
    hostgroup_name  lux08.mpi.nl
    members         lux08.mpi.nl
}

define hostgroup {
    hostgroup_name  lux17.mpi.nl
    members         lux17.mpi.nl
}

#define hostgroup {
#        hostgroup_name  hdl.handle.net
#        members         hdl.handle.net
#}

#define hostgroup {
#       hostgroup_name  isocat
#       alias           ISOcat server
#       members         lux12.mpi.nl
#       contact_groups  isocat
#}

# Nagios doesn't like monitoring hosts without services, so this is
# a group for devices that have no other "services" monitorable
# (like routers w/out snmp for example)
define hostgroup {
    hostgroup_name  ping-servers
    alias           pingable servers
    members         ems04.mpi.nl, catalog.clarin.eu, lux17.mpi.nl, corpus1.mpi.nl, tla.mpi.nl, lux08.mpi.nl
}

define hostgroup {
    hostgroup_name  www.clarin.eu
    alias           CLARIN WWW @UU [prod]
    members         www.clarin.eu
}

define hostgroup {
    hostgroup_name  infra.clarin.eu
    alias           CLARIN infra @MPI [prod]
    members         infra.clarin.eu
}

define hostgroup {
    hostgroup_name  discovery.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         discovery.clarin.eu
}

define hostgroup {
    hostgroup_name  idp.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         idp.clarin.eu
}

define hostgroup {
    hostgroup_name  clarin.ids-mannheim.de
    alias           CLARIN VCR @IDS [prod]
    members         clarin.ids-mannheim.de
}
