# A simple wildcard hostgroup
define hostgroup {
    hostgroup_name  all
    alias           All servers
    members         *
}

define hostgroup {
    hostgroup_name  catalog.clarin.eu
    members         catalog.clarin.eu
}

define hostgroup {
    hostgroup_name  user.clarin.eu
    members         user.clarin.eu
}

define hostgroup {
    hostgroup_name  centres.clarin.eu
    members         centres.clarin.eu
}


define hostgroup {
    hostgroup_name  www.clarin.eu
    alias           CLARIN WWW @UU [prod]
    members         www.clarin.eu
}

define hostgroup {
    hostgroup_name  infra.clarin.eu
    alias           CLARIN infra @MPI [prod]
    members         infra.clarin.eu
}

define hostgroup {
    hostgroup_name  discovery.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         discovery.clarin.eu
}

define hostgroup {
    hostgroup_name  idp.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         idp.clarin.eu
}

define hostgroup {
    hostgroup_name  dev-idp.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         dev-idp.clarin.eu
}

define hostgroup {
    hostgroup_name  nexus.clarin.eu
    alias           CLARIN Discovery Service @RZG [prod]
    members         nexus.clarin.eu
}

define hostgroup {
    hostgroup_name  clarin.ids-mannheim.de
    alias           CLARIN VCR @IDS [prod]
    members         clarin.ids-mannheim.de
}
