###
## CLARIN servers
###

define host {
  host_name  ems04.mpi.nl
  alias      CLARIN dev & infra [prod]
  address    ems04.mpi.nl
  use        clarin-generic-host
}

define host {
  host_name   idp.clarin.eu
  address     idp.clarin.eu
  use         clarin-generic-host
}

define host {
  host_name   discovery.clarin.eu
  address     discovery.clarin.eu
  use         clarin-generic-host
}

define host {
  host_name   catalog.clarin.eu
  address     catalog.clarin.eu
  use         clarin-generic-host
}

define host {
  host_name   centres.clarin.eu
  address     centres.clarin.eu
  use         clarin-generic-host
}

define host {
  host_name   clarin.ids-mannheim.de
  alias       CLARIN VCR @IDS [prod]
  address     clarin.ids-mannheim.de
  use         clarin-generic-host
}

define host {
  host_name  www.clarin.eu
  alias      CLARIN WWW [prod]
  address    www.clarin.eu
  use        clarin-generic-host
}

define host {
  host_name  user.clarin.eu
  alias      CLARIN identity management [prod]
  address    user.clarin.eu
  use        clarin-generic-host
}

define host {
  host_name  infra.clarin.eu
  alias      CLARIN infra [prod]
  address    infra.clarin.eu
  use        clarin-generic-host
}