define service {
    hostgroup_name                  ssh-servers
    service_description             SSH
    check_command                   check_ssh
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contact_groups                  Nagios_admins
}

define service {
    hostgroup_name                  ping-servers
    service_description             ICMP
    check_command                   check_ping!100.0,20%!500.0,60%
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contact_groups                  Nagios_admins
}

####
###                  CLARIN services
####

define service {
    hostgroup_name                  catalog.clarin.eu
    service_description             CLARIN VLO [UI][prod]
    check_command                   check_clarin_vlo
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  catalog.clarin.eu
    service_description             CLARIN Cmp. Rg. [UI][prod]
    check_command                   check_clarin_comp_reg
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  idp.clarin.eu
    service_description             CLARIN IdP [UI][prod]
    check_command                   check_clarin_idp_rzg
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  discovery.clarin.eu
    service_description             CLARIN DS [UI][prod]
    check_command                   check_clarin_discojuice_html
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  discovery.clarin.eu
    service_description             CLARIN DS [JSON][prod]
    check_command                   check_clarin_discojuice_json
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  clarin.ids-mannheim.de
    service_description             CLARIN VCR [UI][prod]
    check_command                   check_clarin_vcr
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        twagoo
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  user.clarin.eu
    service_description             CLARIN LDAP directory [prod]
    check_command                   check_clarin_ldap
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  centres.clarin.eu
    service_description             CLARIN Cntr. Rg. [UI][prod]
    check_command                   check_clarin_centre_registry
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}

define service {
    hostgroup_name                  infra.clarin.eu
    service_description             CLARIN SPF mtdt. [prod]
    check_command                   check_clarin_saml
    use                             generic-service
    notification_interval           0 ; set > 0 if you want to be renotified
    contacts                        sysops
    contact_groups                  CLARIN_group
}