###
### Host declarations for MPI-PL Nijmegen
###

### Hostgroup just for better visualization

define hostgroup {
    hostgroup_name Nijmegen
    members MPI-PL
}


define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    name       MPI-PL-host
    register   0
    use        custom-active-host
}

define host {
    address    corpus1.mpi.nl
    alias      TLA applications [prod]
    host_name  corpus1.mpi.nl
    use        MPI-PL-host
}

define host {
    address    cqlservlet.mpi.nl
    host_name  cqlservlet.mpi.nl
    use        MPI-PL-host
}

define host {
    address    ems04.mpi.nl
    host_name  ems04.mpi.nl
    use        MPI-PL-host
}

define host {
    address    catalog.clarin.eu
    host_name  catalog.clarin.eu
    use        MPI-PL-host
}

define host {
    address    user.clarin.eu
    alias      CLARIN IAM [prod]
    host_name  user.clarin.eu
    use        MPI-PL-host
}

define host {
    address    infra.clarin.eu
    alias      CLARIN infra [prod]
    host_name  infra.clarin.eu
    use        MPI-PL-host
}

define host {
    address    trac.clarin.eu
    alias      CLARIN Trac [prod]
    host_name  trac.clarin.eu
    use        MPI-PL-host
}

define host {
    address    svn.clarin.eu
    alias      CLARIN SVN [prod]
    host_name  svn.clarin.eu
    use        MPI-PL-host
}