###
### Host declarations for MPI-PL Nijmegen
###

### Hostgroup just for better visualization

define hostgroup {
    hostgroup_name Nijmegen
    members corpus1.mpi.nl,MPI-PL
}

###
### HOST DEFINITIONS
###

define host {
    check_command   check-ping
    contacts        gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    name            MPI-PL-host
    register        0
    use             custom-active-host
}

define host {
    address     corpus1.mpi.nl
    alias       TLA applications [prod]
    host_name   corpus1.mpi.nl
    use         MPI-PL-host
}

define host {
	address     vlo.clarin.eu
	alias       VLO @ HostEurope
	host_name   vlo.clarin.eu
    use         MPI-PL-host
}

define host {
    address     cqlservlet.mpi.nl
    host_name   cqlservlet.mpi.nl
    use         MPI-PL-host
}

define host {
    address     ems04.mpi.nl
    alias       CLARIN dev & infra [prod]
    host_name   ems04.mpi.nl
    use         custom-active-host
}

define host {
    address     idp.clarin.eu
    host_name   idp.clarin.eu
    use         MPI-PL-host
}

define host {
    address     discovery.clarin.eu
    host_name   discovery.clarin.eu
    use         MPI-PL-host
}

define host {
    address     catalog.clarin.eu
    host_name   catalog.clarin.eu
    use         MPI-PL-host
}

define host {
    address     centres.clarin.eu
    host_name   centres.clarin.eu
    use         MPI-PL-host
}

define host {
    address     clarin.ids-mannheim.de
    alias       CLARIN VCR @IDS [prod]
    host_name   clarin.ids-mannheim.de
    use         MPI-PL-host
}

define host {
    address    www.clarin.eu
    alias      CLARIN WWW [prod]
    host_name  www.clarin.eu
    use        custom-active-host
}

define host {
    address    user.clarin.eu
    alias      CLARIN IAM [prod]
    host_name  user.clarin.eu
    use        custom-active-host
}

define host {
    address    infra.clarin.eu
    alias      CLARIN infra [prod]
    host_name  infra.clarin.eu
    use        custom-active-host
}
