define servicegroup {
    servicegroup_name MPI-PL-servicegroup
}

define service {
    check_interval 60
    name MPI-PL-service
    register 0
    servicegroups MPI-PL-servicegroup
    use clarin-direct-warning
}

#define service {
#    check_command probe_ldap_bind!ldap!user.clarin.eu!ou=members,dc=clarin,dc=eu!10389!
#    host_name user.clarin.eu
#    service_description CLARIN LDAP directory [prod]
#    use MPI-PL-service
#}

# TODO: remove last unnecessary special case commands

define service {
    check_command probe_imdi!http!hdl.handle.net!1839/00-0000-0000-0000-0000-4?auth!80!
    display_name Handle resolve to IMDI
    host_name MPI-PL
    service_description handle-doc-access
    use srv-pnp,MPI-PL-service
}

define service {
    check_command probe_http_head!https!$HOSTADDRESS$!lex/lexus/!443!!
    host_name corpus1.mpi.nl
    service_description Lexus
    use MPI-PL-service
}



