# Configuration file configuration/configuration/pynag/contacts/gAAAAABVgCvo0aY2qA7vHoYR0uopTCWbJpEGDHQq4qb4rHCmtkEBNFQ8b-uY8cbQY9Ccn5L7U5O5_7E34IHiFvQvNqdHB7nnUDzEf3PHgHio4qod1j1uemU=.cfg
# Edited by PyNag on Tue Jun 16 16:00:08 2015

define contact {
	 use                            generic-contact               
	 email                          gAAAAABVgCvo9M9vgsv9lGrGdNgOkmuwjTQtD9JL8bYfmJdKUKI1ShqMJzQixyCme9hJdXOMtA8v4eMjNkDXdu8H-T7lCjIyD-ZNCK8jiHGjuJrpG7ia1Uw=
	 contact_name                   gAAAAABVgCvo0aY2qA7vHoYR0uopTCWbJpEGDHQq4qb4rHCmtkEBNFQ8b-uY8cbQY9Ccn5L7U5O5_7E34IHiFvQvNqdHB7nnUDzEf3PHgHio4qod1j1uemU=
}

