# Configuration file configuration/configuration/pynag/contacts/gAAAAABVgCvoeu5MWTVYur7lTj06uncQwqNnRXkZHkNS5ZH7wwzXe0tqEWKRJmWHO4S9uDRjX-4lXvs1fDdnh5-5hHPcoib-9ieBv7pabp8uCRfBVgyMsTBjkkezSxJ2MgfNP3De-A7g.cfg
# Edited by PyNag on Tue Jun 16 16:00:08 2015

define contact {
	 use                            generic-contact               
	 email                          gAAAAABVgCvopOHa7AbtcDmigfBQ2GoogJPKnddS2mxgiBQH8bfWBaC3WTHUhZocH_wxT1ULv3nP1u5QxV1slZSRTGdeegkPm-SE13q37adwwih98B3jupo=
	 contact_name                   gAAAAABVgCvoeu5MWTVYur7lTj06uncQwqNnRXkZHkNS5ZH7wwzXe0tqEWKRJmWHO4S9uDRjX-4lXvs1fDdnh5-5hHPcoib-9ieBv7pabp8uCRfBVgyMsTBjkkezSxJ2MgfNP3De-A7g
}

