# Configuration file configuration/configuration/pynag/contacts/gAAAAABVmid2CvNGQt2CE0L9hXREizdzpZW9_gaCfgbc5bSMI9iYzzbZk1PbRHm0V9sW9m_dqJQnyvd2ewMwLv8kdF-QA0W8eXPOs2hr0Ti7ZPU5MZXQ5LY=.cfg
# Edited by PyNag on Mon Jul  6 09:00:06 2015

define contact {
	 use                            generic-contact               
	 email                          gAAAAABVmid2RnmZWYA_MXL0IMLbvMfLUKcodq3RCAohWN3mMCOL2EAnlpgZrYYqCHFasrrZ-ngtG3hhZ0kVVWJ2Kr_21M9KYn3g6aeCv8V6bHCiO54Br1c=
	 contact_name                   gAAAAABVmid2CvNGQt2CE0L9hXREizdzpZW9_gaCfgbc5bSMI9iYzzbZk1PbRHm0V9sW9m_dqJQnyvd2ewMwLv8kdF-QA0W8eXPOs2hr0Ti7ZPU5MZXQ5LY=
}

