# Configuration file clarin_monitoring_config/configuration/pynag/contacts/gAAAAABVZx2eJE2oBuU0rYD6V9Ghtwqb2_q4RY0Mf1U2uBXuxyIn8pXdv71umAJCetK3DuKHp10FXIKCRLAxUnxYh5ZngPP23Yk9lmzjSYvp1voG22SOtnI=.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define contact {
	 use                            generic-contact               
	email                         gAAAAABVZx5tLDFutsKTbSftnCftI7l7XACd2gKVSxzQ1_ca0I8Fhh7fB114Ir3mGWjbpFbkRM_uH-2MohiBGli_7ftuBxfgHPk9-x6H4rZOOHQF5aCDPc4=
	contact_name                  gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
}

