# Configuration file configuration/configuration/pynag/contacts/gAAAAABVeBEsMyR7B2QHDvJOl6BHnKZNegwO3CUmQ9aiQqGfC0Gi-WQWY2uF3bsnQ8FxuHUEn_4jaOUqFQcK_VkiCIVJJJNyC_uhjvT0N4AQ-Pfzx57UgOs=.cfg
# Edited by PyNag on Wed Jun 10 12:27:56 2015

define contact {
	 use                            generic-contact               
	 email                          gAAAAABVeBEsjKzzsfFgzmkWbVy_USzowe3GBQDpn9B2HplGvBmNNtpwW5A2hczHCA1_dDmf3mdvTSsNiSsFwGukhj-n-cb3mKKJZzZwZqCT-Sjq9NiQb6s=
	 contact_name                   gAAAAABVeBEsMyR7B2QHDvJOl6BHnKZNegwO3CUmQ9aiQqGfC0Gi-WQWY2uF3bsnQ8FxuHUEn_4jaOUqFQcK_VkiCIVJJJNyC_uhjvT0N4AQ-Pfzx57UgOs=
}

