###
### Host declarations for Mannheim
###

define hostgroup {
    alias Institut fuer Deutsche Sprache Mannheim
    hostgroup_name IDS-hostgroup
    members IDS
}

# Template
define host {
	contacts                      dietuyt_mpi.nl@clarin.eu
    hostgroups IDS-hostgroup
    name       IDS-host
    register   0
    use        custom-active-host
}

define host {
    alias       CLARIN VCR @IDS [prod]
    host_name   clarin.ids-mannheim.de
    use         IDS-host
	contacts                      dietuyt_mpi.nl@clarin.eu
}