###
### Host declarations for Mannheim
###

### Hostgroup just for better visualization
define hostgroup {
    hostgroup_name Mannheim
    members IDS
}

define host {
    address     clarin.ids-mannheim.de
    alias       CLARIN VCR @IDS [prod]
    host_name   clarin.ids-mannheim.de
    use         custom-active-host
}
# TODO: determine host types