###
### Host declarations for Mannheim
###

### Hostgroup just for better visualization
define hostgroup {
    hostgroup_name Mannheim
    members IDS
}

# Template
define host {
    contacts   gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
    hostgroups IDS-hostgroup
    name       IDS-host
    register   0
    use        custom-active-host
}

define host {
    alias       CLARIN VCR @IDS [prod]
    host_name   clarin.ids-mannheim.de
    use         IDS-host
}