###
### Hostdefinitios for Tuebingen
###

### Hostgroup just for better visualization
define hostgroup{
        hostgroup_name Saarbruecken
        members fedora.clarin-d.uni-saarland.de,UdS
}

###
### HOST DEFINITIONS
###
define host {
        use             custom-active-host
        host_name       fedora.clarin-d.uni-saarland.de
        address         fedora.clarin-d.uni-saarland.de
        check_command   check-ping
	contacts                      gAAAAABVZx5sepp0jo8o-GT95WcyoXb_Vg7RXvY4V54GC1sb_33J3ZVfoVW9Sc25rKkrOw5UDrPHd8gEFfuaYaRb34GBXCyuSQ==
        register 1
}
