# Configuration file clarin_monitoring_config/configuration/pynag/hosts/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define host {
	 use                            custom-active-host            
	 display_name                   Berlin-Brandenburg Academy of Sciences and Humanities
	 _LAT                           52.514156                     
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_dummy                   
	 _LONG                          13.394324                     
	 host_name                      BBAW                          
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_oai!http!clarin.bbaw.de!/oaiprovider!8088
	 servicegroups                  BBAW_centerregistry           
	 host_name                      BBAW                          
	 service_description            OAI@BBAW@clarin.bbaw.de/oaiprovider
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_cql!http!dspin.dwds.de!/ddc-sru/c4/!8088
	 servicegroups                  BBAW_centerregistry           
	 host_name                      BBAW                          
	 service_description            CQL@BBAW@dspin.dwds.de/ddc-sru/c4/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_cql!http!dspin.dwds.de!/ddc-sru/dingler/!8088
	 servicegroups                  BBAW_centerregistry           
	 host_name                      BBAW                          
	 service_description            CQL@BBAW@dspin.dwds.de/ddc-sru/dingler/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/BBAW.cfg
# Edited by PyNag on Thu May 28 15:52:30 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_cql!http!dspin.dwds.de!/ddc-sru/dta/!8088
	 servicegroups                  BBAW_centerregistry           
	 host_name                      BBAW                          
	 service_description            CQL@BBAW@dspin.dwds.de/ddc-sru/dta/
}

