# Configuration file clarin_monitoring_config/configuration/pynag/hosts/CELREKK.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define host {
	 use                            custom-active-host            
	 display_name                   Center of Estonian Language Resources
	 _LAT                           58.378389                     
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_dummy                   
	 _LONG                          26.714716                     
	 host_name                      CELR/EKK                      
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/CELREKK.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_oai!http!register.keeleressursid.ee!/oaiprovider/oai!80
	 servicegroups                  CELR/EKK_centerregistry       
	 host_name                      CELR/EKK                      
	 service_description            OAI@CELR/EKK@register.keeleressursid.ee/oaiprovider/oai
}

