# Configuration file clarin_monitoring_config/configuration/pynag/hosts/CLARIN-PL1.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define host {
	 use                            custom-active-host            
	 display_name                   CLARIN-PL Language Technology Centre
	 _LAT                           51.107122                     
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_dummy                   
	 _LONG                          17.063023                     
	 host_name                      CLARIN-PL1                    
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/CLARIN-PL1.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_oai!https!clarin-pl.eu!/oai/request!443
	 servicegroups                  CLARIN-PL1_centerregistry     
	 host_name                      CLARIN-PL1                    
	 service_description            OAI@CLARIN-PL1@clarin-pl.eu/oai/request
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/CLARIN-PL1.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=,gAAAAABVZx5thQT9nqAOudq9mIr-mU_kxR1ERk4tjOIpQ5xHCiYtswZx2gpF8jPBKK9r-dT_hTmr-DHjoGXx1VB2Apuj2fj8ZNiSI2iM35l1K4EAXO4vpLU=
	 check_command                  check_cql!http!fcs.clarin-pl.eu!/bonito/run.cgi/fcs!80
	 servicegroups                  CLARIN-PL1_centerregistry     
	 host_name                      CLARIN-PL1                    
	 service_description            CQL@CLARIN-PL1@fcs.clarin-pl.eu/bonito/run.cgi/fcs
}

