# Configuration file clarin_monitoring_config/configuration/pynag/hosts/DLU.cfg
# Edited by PyNag on Thu May 28 15:52:31 2015

define host {
	 use                            custom-active-host            
	 display_name                   Dutch-Flemish Human Language Technology Agency
	 _LAT                           52.082325                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          4.312237                      
	 host_name                      DLU                           
}

