# Configuration file clarin_monitoring_config/configuration/pynag/hosts/IDS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define host {
	 use                            custom-active-host            
	 display_name                   Institut für Deutsche Sprache 
	 _LAT                           49.488122                     
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_dummy                   
	 _LONG                          8.472311                      
	 host_name                      IDS                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IDS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_oai!http!repos.ids-mannheim.de!/oaiprovider/!80
	 servicegroups                  IDS_centerregistry            
	 host_name                      IDS                           
	 service_description            OAI@IDS@repos.ids-mannheim.de/oaiprovider/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IDS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_cql!http!clarin.ids-mannheim.de!/cosmassru!80
	 servicegroups                  IDS_centerregistry            
	 host_name                      IDS                           
	 service_description            CQL@IDS@clarin.ids-mannheim.de/cosmassru
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IDS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_cql!http!clarin.ids-mannheim.de!/digibibsru!80
	 servicegroups                  IDS_centerregistry            
	 host_name                      IDS                           
	 service_description            CQL@IDS@clarin.ids-mannheim.de/digibibsru
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IDS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_cql!http!clarin.ids-mannheim.de!/korapsru!80
	 servicegroups                  IDS_centerregistry            
	 host_name                      IDS                           
	 service_description            CQL@IDS@clarin.ids-mannheim.de/korapsru
}

