# Configuration file clarin_monitoring_config/configuration/pynag/hosts/IMS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define host {
	 use                            custom-active-host            
	 display_name                   Institut für Maschinelle Sprachverarbeitung
	 _LAT                           48.746750                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          9.108240                      
	 host_name                      IMS                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IMS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_oai!http!clarin04.ims.uni-stuttgart.de!/oaiprovider/oai!80
	 servicegroups                  IMS_centerregistry            
	 host_name                      IMS                           
	 service_description            OAI@IMS@clarin04.ims.uni-stuttgart.de/oaiprovider/oai
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/IMS.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!http!clarin01.ims.uni-stuttgart.de!/SRUCQIBridge!80
	 servicegroups                  IMS_centerregistry            
	 host_name                      IMS                           
	 service_description            CQL@IMS@clarin01.ims.uni-stuttgart.de/SRUCQIBridge
}

