# Configuration file clarin_monitoring_config/configuration/pynag/hosts/INL.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define host {
	 use                            custom-active-host            
	 display_name                   Instituut voor Nederlandse Lexicologie
	 _LAT                           52.158137                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          4.480772                      
	 host_name                      INL                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/INL.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_oai!http!repository.dev.clarin.inl.nl!/oai/oai_server.php!80
	 servicegroups                  INL_centerregistry            
	 host_name                      INL                           
	 service_description            OAI@INL@repository.dev.clarin.inl.nl/oai/oai_server.php
}

