# Configuration file clarin_monitoring_config/configuration/pynag/hosts/LINDAT.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define host {
	 use                            custom-active-host            
	 display_name                   LINDAT/CLARIN                 
	 _LAT                           50.088521                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          14.403265                     
	 host_name                      LINDAT                        
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/LINDAT.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_oai!https!lindat.mff.cuni.cz!/repository/oai/request!443
	 servicegroups                  LINDAT_centerregistry         
	 host_name                      LINDAT                        
	 service_description            OAI@LINDAT@lindat.mff.cuni.cz/repository/oai/request
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/LINDAT.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!https!lindat.mff.cuni.cz!/services/fcs-bonito!443
	 servicegroups                  LINDAT_centerregistry         
	 host_name                      LINDAT                        
	 service_description            CQL@LINDAT@lindat.mff.cuni.cz/services/fcs-bonito
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/LINDAT.cfg
# Edited by PyNag on Thu May 28 15:52:32 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!https!lindat.mff.cuni.cz!/services/fcs-kontext!443
	 servicegroups                  LINDAT_centerregistry         
	 host_name                      LINDAT                        
	 service_description            CQL@LINDAT@lindat.mff.cuni.cz/services/fcs-kontext
}

