# Configuration file clarin_monitoring_config/configuration/pynag/hosts/MPI-PL.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define host {
	 use                            custom-active-host            
	 display_name                   MPI for Psycholinguistics     
	 _LAT                           51.818046                     
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_dummy                   
	 _LONG                          5.857079                      
	 host_name                      MPI-PL                        
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/MPI-PL.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_oai!http!corpus1.mpi.nl!/ds/oaiprovider/oai2!80
	 servicegroups                  MPI-PL_centerregistry         
	 host_name                      MPI-PL                        
	 service_description            OAI@MPI-PL@corpus1.mpi.nl/ds/oaiprovider/oai2
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/MPI-PL.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_cql!http!cqlservlet.mpi.nl!/!80
	 servicegroups                  MPI-PL_centerregistry         
	 host_name                      MPI-PL                        
	 service_description            CQL@MPI-PL@cqlservlet.mpi.nl/ 
}

