# Configuration file clarin_monitoring_config/configuration/pynag/hosts/OTA.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define host {
	 use                            custom-active-host            
	 display_name                   Oxford Text Archive           
	 _LAT                           51.757571                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          -1.261824                     
	 host_name                      OTA                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/OTA.cfg
# Edited by PyNag on Thu May 28 15:52:33 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_oai!http!www.ota.ox.ac.uk!/cgi-bin/oai.pl!80
	 servicegroups                  OTA_centerregistry            
	 host_name                      OTA                           
	 service_description            OAI@OTA@www.ota.ox.ac.uk/cgi-bin/oai.pl
}

