# Configuration file clarin_monitoring_config/configuration/pynag/hosts/UdS.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define host {
	 use                            custom-active-host            
	 display_name                   Universität des Saarlandes    
	 _LAT                           49.256004                     
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          7.039011                      
	 host_name                      UdS                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/UdS.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_oai!http!fedora.clarin-d.uni-saarland.de!/oaiprovider/!80
	 servicegroups                  UdS_centerregistry            
	 host_name                      UdS                           
	 service_description            OAI@UdS@fedora.clarin-d.uni-saarland.de/oaiprovider/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/UdS.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru/!80
	 servicegroups                  UdS_centerregistry            
	 host_name                      UdS                           
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/UdS.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru2/!80
	 servicegroups                  UdS_centerregistry            
	 host_name                      UdS                           
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru2/
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-utils/clarin_monitoring_config/configuration/pynag/hosts/UdS.cfg
# Edited by PyNag on Thu May 28 15:52:34 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru3/!80
	 servicegroups                  UdS_centerregistry            
	 host_name                      UdS                           
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru3/
}

