# Configuration file /home/webhook/configuration/configuration/BenG.cfg
# Edited by PyNag on Thu Dec 15 15:00:07 2016

define host {
	 use                            custom-active-host            
	 display_name                   Beeld en Geluid               
	 _LAT                           52.2353998                    
	 contacts                       sysops@clarin.eu,tkaravellas_beeldengeluid.nl@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          5.1708992                     
	 host_name                      BenG                          
}

# Configuration file /home/webhook/configuration/configuration/BenG.cfg
# Edited by PyNag on Thu Dec 15 15:00:07 2016

define servicegroup {
	 alias                          BenG_centerregistry           
	 servicegroup_name              BenG_centerregistry           
}

# Configuration file /home/webhook/configuration/configuration/BenG.cfg
# Edited by PyNag on Thu Dec 15 15:00:07 2016

define servicegroup {
	 alias                          BenG                          
	 servicegroup_members           BenG_centerregistry           
	 servicegroup_name              BenG                          
}

