# Configuration file /home/webhook/configuration/configuration/CEDIFOR.cfg
# Edited by PyNag on Mon Sep 19 17:00:13 2016

define host {
	 use                            custom-active-host            
	 display_name                   Centre for the Digital Foundation of Research in the Humanities, Social, and Educational Sciences
	 _LAT                           50.119051                     
	 contacts                       sysops@clarin.eu,abrami@em.uni-frankfurt.de
	 check_command                  check_dummy                   
	 _LONG                          8.652244                      
	 host_name                      CEDIFOR                       
}

# Configuration file /home/webhook/configuration/configuration/CEDIFOR.cfg
# Edited by PyNag on Mon Sep 19 17:00:13 2016

define servicegroup {
	 alias                          CEDIFOR_centerregistry        
	 servicegroup_name              CEDIFOR_centerregistry        
}

# Configuration file /home/webhook/configuration/configuration/CEDIFOR.cfg
# Edited by PyNag on Mon Sep 19 17:00:13 2016

define servicegroup {
	 alias                          CEDIFOR                       
	 servicegroup_members           CEDIFOR_centerregistry        
	 servicegroup_name              CEDIFOR                       
}

# Configuration file /home/webhook/configuration/configuration/CEDIFOR.cfg
# Edited by PyNag on Mon Oct 24 17:00:08 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,abrami@em.uni-frankfurt.de
	check_command                 check_oai!http!resources.cedifor.de!/oai!80
	 servicegroups                  CEDIFOR_centerregistry        
	 host_name                      CEDIFOR                       
	 service_description            OAI@CEDIFOR@resources.cedifor.de/oai
}

