# Configuration file /home/webhook/configuration/configuration/CKLD.cfg
# Edited by PyNag on Wed Apr  4 11:00:11 2018

define host {
	 use                            custom-active-host            
	 display_name                   CLARIN Knowledge Centre for linguistic diversity and language documentation
	 _LAT                           50.9266658                    
	 contacts                       sysops@clarin.eu,ckld-internal_uni-koeln.de@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          6.9304855                     
	 host_name                      CKLD                          
}

# Configuration file /home/webhook/configuration/configuration/CKLD.cfg
# Edited by PyNag on Wed Apr  4 11:00:11 2018

define servicegroup {
	 alias                          CKLD_centerregistry           
	 servicegroup_name              CKLD_centerregistry           
}

# Configuration file /home/webhook/configuration/configuration/CKLD.cfg
# Edited by PyNag on Wed Apr  4 11:00:11 2018

define servicegroup {
	 alias                          CKLD                          
	 servicegroup_members           CKLD_centerregistry           
	 servicegroup_name              CKLD                          
}

