# Configuration file /home/webhook/configuration/configuration/CLARINSI.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define host {
	 use                            custom-active-host            
	 display_name                   CLARIN.SI Language Technology Centre
	 _LAT                           46.042068                     
	contacts                      CLARIN-support@fz-juelich.de
	 check_command                  check_dummy                   
	 _LONG                          14.487589                     
	 host_name                      CLARINSI                      
}

# Configuration file /home/webhook/configuration/configuration/CLARINSI.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define servicegroup {
	 alias                          CLARINSI                      
	 servicegroup_name              CLARINSI                      
}

# Configuration file /home/webhook/configuration/configuration/CLARINSI.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define servicegroup {
	 alias                          CLARINSI_centerregistry       
	 servicegroup_name              CLARINSI_centerregistry       
}

# Configuration file /home/webhook/configuration/configuration/CLARINSI.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      CLARIN-support@fz-juelich.de
	 check_command                  check_oai!http!www.clarin.si!/repository/oai/request!80
	 servicegroups                  CLARINSI_centerregistry       
	 host_name                      CLARINSI                      
	 service_description            OAI@CLARINSI@www.clarin.si/repository/oai/request
}

