# Configuration file configuration/configuration/CLARIN-DK-UCPH.cfg
# Edited by PyNag on Wed Jun 10 12:27:55 2015

define host {
	 use                            custom-active-host
	 display_name                   The CLARIN Centre at University of Copenhagen
	 _LAT                           55.661566
	contacts                      dietuyt_mpi.nl@clarin.eu,sander_clarin.eu@clarin.eu,leneo@hum.ku.dk
	 check_command                  check_dummy
	 _LONG                          12.591780
	 host_name                      CLARIN-DK-UCPH
}

# Configuration file configuration/configuration/CLARIN-DK-UCPH.cfg
# Edited by PyNag on Wed Jun 10 12:27:55 2015

define servicegroup {
	 alias                          CLARIN-DK-UCPH
	 servicegroup_name              CLARIN-DK-UCPH
}

# Configuration file configuration/configuration/CLARIN-DK-UCPH.cfg
# Edited by PyNag on Wed Jun 10 12:27:55 2015

define servicegroup {
	 alias                          CLARIN-DK-UCPH_centerregistry
	 servicegroup_name              CLARIN-DK-UCPH_centerregistry
}

# Configuration file configuration/configuration/CLARIN-DK-UCPH.cfg
# Edited by PyNag on Wed Jun 10 12:27:55 2015

define service {
	use                             custom-active-service,srv-pnp
	contacts                      dietuyt_mpi.nl@clarin.eu,sander_clarin.eu@clarin.eu,leneo@hum.ku.dk
	check_command                   check_oai!http!clarin.dk!/oaiprovider/!80
	servicegroups                   CLARIN-DK-UCPH_centerregistry
	service_description             OAI@CLARIN-DK-UCPH@clarin.dk/oaiprovider/
	host_name                       CLARIN-DK-UCPH
}

