# Configuration file /home/webhook/configuration/configuration/CLARINO Bergen.cfg
# Edited by PyNag on Sat Oct 17 11:00:07 2015

define host {
	 use                            custom-active-host            
	 display_name                   CLARINO Bergen Center         
	 _LAT                           60.2786821                    
	 contacts                       sysops@clarin.eu,desmedt@uib.no
	 check_command                  check_dummy                   
	 _LONG                          6.1084835                     
	 host_name                      CLARINO Bergen                
}

# Configuration file /home/webhook/configuration/configuration/CLARINO Bergen.cfg
# Edited by PyNag on Sat Oct 17 11:00:07 2015

define servicegroup {
	 alias                          CLARINO Bergen                
	 servicegroup_name              CLARINO Bergen                
}

# Configuration file /home/webhook/configuration/configuration/CLARINO Bergen.cfg
# Edited by PyNag on Sat Oct 17 11:00:07 2015

define servicegroup {
	 alias                          CLARINO Bergen_centerregistry 
	 servicegroup_name              CLARINO Bergen_centerregistry 
}

