# Configuration file /home/webhook/configuration/configuration/CLARIN-LT.cfg
# Edited by PyNag on Tue Oct 11 19:00:09 2016

define host {
	 use                            custom-active-host            
	 display_name                   CLARIN-LT                     
	 _LAT                           54.9005572                    
	 contacts                       sysops@clarin.eu,martynas@ore.lt
	 check_command                  check_dummy                   
	 _LONG                          23.914398                     
	 host_name                      CLARIN-LT                     
}

# Configuration file /home/webhook/configuration/configuration/CLARIN-LT.cfg
# Edited by PyNag on Tue Oct 11 19:00:09 2016

define servicegroup {
	 alias                          CLARIN-LT_centerregistry      
	 servicegroup_name              CLARIN-LT_centerregistry      
}

# Configuration file /home/webhook/configuration/configuration/CLARIN-LT.cfg
# Edited by PyNag on Tue Oct 11 19:00:09 2016

define servicegroup {
	 alias                          CLARIN-LT                     
	 servicegroup_members           CLARIN-LT_centerregistry      
	 servicegroup_name              CLARIN-LT                     
}

# Configuration file /home/webhook/configuration/configuration/CLARIN-LT.cfg
# Edited by PyNag on Tue Oct 11 19:00:09 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,martynas@ore.lt
	 check_command                  check_oai!https!clarin.vdu.lt!/oai/request!443
	 servicegroups                  CLARIN-LT_centerregistry      
	 host_name                      CLARIN-LT                     
	 service_description            OAI@CLARIN-LT@clarin.vdu.lt/oai/request
}

