# Configuration file configuration/configuration/CLARIN.SI.cfg
# Edited by PyNag on Wed Jun 10 12:27:56 2015

define host {
	 use                            custom-active-host            
	display_name                  CLARIN.SI Language Technology Centre
	 _LAT                           46.042068                     
	contacts                      CLARIN-support@fz-juelich.de
	 check_command                  check_dummy                   
	 _LONG                          14.487589                     
	 host_name                      CLARIN.SI                     
}

# Configuration file configuration/configuration/CLARIN.SI.cfg
# Edited by PyNag on Wed Jun 10 12:27:56 2015

define servicegroup {
	 alias                          CLARIN.SI                     
	 servicegroup_name              CLARIN.SI                     
}

# Configuration file configuration/configuration/CLARIN.SI.cfg
# Edited by PyNag on Wed Jun 10 12:27:56 2015

define servicegroup {
	 alias                          CLARIN.SI_centerregistry      
	 servicegroup_name              CLARIN.SI_centerregistry      
}

