# Configuration file /home/webhook/configuration/configuration/CLST.cfg
# Edited by PyNag on Thu Dec 15 17:00:08 2016

define host {
	 use                            custom-active-host            
	 display_name                   Centre for Language and Speech Technology
	 _LAT                           51.819146                     
	 contacts                       sysops@clarin.eu,w.stoop_let.ru.nl@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          5.863923                      
	 host_name                      CLST                          
}

# Configuration file /home/webhook/configuration/configuration/CLST.cfg
# Edited by PyNag on Thu Dec 15 17:00:08 2016

define servicegroup {
	 alias                          CLST_centerregistry           
	 servicegroup_name              CLST_centerregistry           
}

# Configuration file /home/webhook/configuration/configuration/CLST.cfg
# Edited by PyNag on Thu Dec 15 17:00:08 2016

define servicegroup {
	 alias                          CLST                          
	 servicegroup_members           CLST_centerregistry           
	 servicegroup_name              CLST                          
}

# Configuration file /home/webhook/configuration/configuration/CLST.cfg
# Edited by PyNag on Thu Dec 15 17:00:08 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,w.stoop_let.ru.nl@clarin.eu
	 check_command                  check_oai!http!clst.science.ru.nl!/oai/provider!80
	 servicegroups                  CLST_centerregistry           
	 host_name                      CLST                          
	 service_description            OAI@CLST@clst.science.ru.nl/oai/provider
}

