# Configuration file configuration/configuration/CMU.cfg
# Edited by PyNag on Wed Jun 10 12:27:56 2015

define host {
	 use                            custom-active-host            
	 display_name                   CMU-TalkBank                  
	 _LAT                           40.440988                     
	contacts                      sysops@clarin.eu,spektor@andrew.cmu.edu
	 check_command                  check_dummy                   
	 _LONG                          -79.94231                     
	 host_name                      CMU                           
}

# Configuration file configuration/configuration/CMU.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define servicegroup {
	 alias                          CMU                           
	 servicegroup_name              CMU                           
	servicegroup_members          CMU_centerregistry
}

# Configuration file configuration/configuration/CMU.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define servicegroup {
	 alias                          CMU_centerregistry            
	 servicegroup_name              CMU_centerregistry            
}

# Configuration file configuration/configuration/CMU.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,spektor@andrew.cmu.edu
	check_command                 check_oai!http!alpha.talkbank.org!/childes-oai/provider!8089
	 servicegroups                  CMU_centerregistry            
	 service_description            OAI@CMU@alpha.talkbank.org/childes-oai/provider
	host_name                     CMU
}

# Configuration file configuration/configuration/CMU.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,spektor@andrew.cmu.edu
	check_command                 check_oai!http!alpha.talkbank.org!/talkbank-oai/provider!8089
	 servicegroups                  CMU_centerregistry            
	 service_description            OAI@CMU@alpha.talkbank.org/talkbank-oai/provider
	host_name                     CMU
}

