# Configuration file configuration/configuration/DANS.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define host {
	 use                            custom-active-host            
	 display_name                   Data Archiving and Networked Services
	 _LAT                           52.080776                     
	contacts                      sysops@clarin.eu,marnix.van.berchum@dans.knaw.nl
	 check_command                  check_dummy                   
	 _LONG                          4.345627                      
	 host_name                      DANS                          
}

# Configuration file configuration/configuration/DANS.cfg
# Edited by PyNag on Wed Jun 10 12:27:57 2015

define servicegroup {
	 alias                          DANS                          
	 servicegroup_name              DANS                          
}

# Configuration file configuration/configuration/DANS.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define servicegroup {
	 alias                          DANS_centerregistry           
	 servicegroup_name              DANS_centerregistry           
}

# Configuration file configuration/configuration/DANS.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,marnix.van.berchum@dans.knaw.nl
	 check_command                  check_oai!http!oai.clarin-beta.dans.knaw.nl!/OAIHandler!80
	 servicegroups                  DANS_centerregistry           
	 service_description            OAI@DANS@oai.clarin-beta.dans.knaw.nl/OAIHandler
	host_name                     DANS
}

# Configuration file configuration/configuration/DANS.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,marnix.van.berchum@dans.knaw.nl
	 check_command                  check_cql!http!srucql.dans.knaw.nl!/!80
	 servicegroups                  DANS_centerregistry           
	 service_description            CQL@DANS@srucql.dans.knaw.nl/ 
	host_name                     DANS
}

