# Configuration file configuration/configuration/DLU.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define host {
	 use                            custom-active-host            
	 display_name                   Dutch-Flemish Human Language Technology Agency
	 _LAT                           52.082325                     
	contacts                      sysops@clarin.eu,jantheo.bakker@inl.nl
	 check_command                  check_dummy                   
	 _LONG                          4.312237                      
	 host_name                      DLU                           
}

# Configuration file configuration/configuration/DLU.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define servicegroup {
	 alias                          DLU                           
	 servicegroup_name              DLU                           
	servicegroup_members          DLU_centerregistry
}

# Configuration file configuration/configuration/DLU.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define servicegroup {
	 alias                          DLU_centerregistry            
	 servicegroup_name              DLU_centerregistry            
}

