# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define host {
    use                           custom-active-host
    display_name                  Eberhard Karls Universitaet Tuebingen
    _LAT                          48.527037
	contacts                      emanuel.dima_uni-tuebingen.de@clarin.eu,ccoltekin_gmail.com@clarin.eu
    check_command                 check_dummy
    _LONG                         9.062002
    host_name                     EKUT
}

# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define servicegroup {
    alias                         EKUT_centerregistry
    servicegroup_name             EKUT_centerregistry
}

# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define service {
    use                           custom-active-service,srv-pnp
	contacts                      emanuel.dima_uni-tuebingen.de@clarin.eu,ccoltekin_gmail.com@clarin.eu
    check_command                 check_oai!http!weblicht.sfs.uni-tuebingen.de!/oaiprovider/!80
    servicegroups                 EKUT_centerregistry
    service_description           OAI@EKUT@weblicht.sfs.uni-tuebingen.de/oaiprovider/
    host_name                     EKUT
}

# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define service {
    use                           custom-active-service,srv-pnp
	contacts                      emanuel.dima_uni-tuebingen.de@clarin.eu,ccoltekin_gmail.com@clarin.eu
	check_command                 check_oai!http!repository.sfb833.uni-tuebingen.de!/oaiprovider/!80
    servicegroups                 EKUT_centerregistry
    service_description           OAI@EKUT@repository.sfb833.uni-tuebingen.de/oaiprovider/
    host_name                     EKUT
}

# Configuration file configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jun 10 12:27:58 2015

define service {
    use                           custom-active-service,srv-pnp
	contacts                      emanuel.dima_uni-tuebingen.de@clarin.eu,ccoltekin_gmail.com@clarin.eu
    check_command                 check_cql!http!weblicht.sfs.uni-tuebingen.de!/rws/sru/!80
    servicegroups                 EKUT_centerregistry
    service_description           CQL@EKUT@weblicht.sfs.uni-tuebingen.de/rws/sru/
    host_name                     EKUT
}

# Configuration file /home/webhook/configuration/configuration/EKUT.cfg
# Edited by PyNag on Wed Jul  8 12:00:07 2015

define servicegroup {
	 alias                          EKUT                          
	 servicegroup_name              EKUT                          
}

