# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/FZJ.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define host {
    use               custom-active-host
    display_name      Forschungzentrum Juelich
    _LAT              50.905369
     contacts         gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
    check_command     check_dummy
    _LONG             6.404938
    host_name         FZJ
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/FZJ.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define servicegroup {
    alias              FZJ
    servicegroup_name  FZJ
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/FZJ.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define servicegroup {
    alias              FZJ_centerregistry
    servicegroup_name  FZJ_centerregistry
}

