# Configuration file configuration/configuration/GWDG.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define host {
	 use                            custom-active-host            
	display_name                  Gesellschaft fur wissenschaftliche Datenverarbeitung Gottingen
	 _LAT                           51.562323                     
	contacts                      sysops@clarin.eu,tibor.kalman@gwdg.de
	 check_command                  check_dummy                   
	 _LONG                          9.970938                      
	 host_name                      GWDG                          
}

# Configuration file configuration/configuration/GWDG.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define servicegroup {
	 alias                          GWDG                          
	 servicegroup_name              GWDG                          
	servicegroup_members          GWDG_centerregistry
}

# Configuration file configuration/configuration/GWDG.cfg
# Edited by PyNag on Wed Jun 10 12:27:59 2015

define servicegroup {
	 alias                          GWDG_centerregistry           
	 servicegroup_name              GWDG_centerregistry           
}

