# Configuration file /home/webhook/configuration/configuration/ILC4CLARIN.cfg
# Edited by PyNag on Thu Jun 16 15:00:11 2016

define host {
	 use                            custom-active-host            
	 display_name                   The ILC4CLARIN Centre at the Institute for Computational Linguistics
	 _LAT                           43.7185511                    
	 contacts                       sysops@clarin.eu,alessandro.enea_ilc.cnr.it@clarin.eu,alessandro.enea_ilc.cnr.it@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          10.4222234                    
	 host_name                      ILC4CLARIN                    
}

# Configuration file /home/webhook/configuration/configuration/ILC4CLARIN.cfg
# Edited by PyNag on Thu Jun 16 15:00:11 2016

define servicegroup {
	 alias                          ILC4CLARIN_centerregistry     
	 servicegroup_name              ILC4CLARIN_centerregistry     
}

# Configuration file /home/webhook/configuration/configuration/ILC4CLARIN.cfg
# Edited by PyNag on Thu Jun 16 15:00:11 2016

define servicegroup {
	 alias                          ILC4CLARIN                    
	 servicegroup_members           ILC4CLARIN_centerregistry     
	 servicegroup_name              ILC4CLARIN                    
}

# Configuration file /home/webhook/configuration/configuration/ILC4CLARIN.cfg
# Edited by PyNag on Thu Jun 16 15:00:11 2016


# Configuration file /home/webhook/configuration/configuration/ILC4CLARIN.cfg
# Edited by PyNag on Thu Jun 16 17:00:09 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,alessandro.enea_ilc.cnr.it@clarin.eu,alessandro.enea_ilc.cnr.it@clarin.eu
	 check_command                  check_oai!http!dspace-clarin-it.ilc.cnr.it!/repository/oai/request!80
	 servicegroups                  ILC4CLARIN_centerregistry     
	 host_name                      ILC4CLARIN                    
	 service_description            OAI@ILC4CLARIN@dspace-clarin-it.ilc.cnr.it/repository/oai/request
}

