# Configuration file configuration/configuration/INL.cfg
# Edited by PyNag on Wed Jun 10 12:28:01 2015

define host {
	 use                            custom-active-host            
	 display_name                   Instituut voor Nederlandse Lexicologie
	 _LAT                           52.158137                     
	contacts                      sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          4.480772                      
	 host_name                      INL                           
}

# Configuration file configuration/configuration/INL.cfg
# Edited by PyNag on Wed Jun 10 12:28:01 2015

define servicegroup {
	 alias                          INL                           
	 servicegroup_name              INL                           
	servicegroup_members          INL_centerregistry
}

# Configuration file configuration/configuration/INL.cfg
# Edited by PyNag on Wed Jun 10 12:28:01 2015

define servicegroup {
	 alias                          INL_centerregistry            
	 servicegroup_name              INL_centerregistry            
}

# Configuration file configuration/configuration/INL.cfg
# Edited by PyNag on Wed Jun 10 12:28:01 2015


# Configuration file /home/webhook/configuration/configuration/INL.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_cql!http!brievenalsbuit.inl.nl!/zbsru/!80
	 servicegroups                  INL_centerregistry            
	 host_name                      INL                           
	 service_description            CQL@INL@brievenalsbuit.inl.nl/zbsru/
}

# Configuration file /home/webhook/configuration/configuration/INL.cfg
# Edited by PyNag on Mon Jul 13 09:51:01 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_cql!http!gysseling.corpus.taalbanknederlands.inl.nl!/gyssru/!80
	 servicegroups                  INL_centerregistry            
	 host_name                      INL                           
	 service_description            CQL@INL@gysseling.corpus.taalbanknederlands.inl.nl/gyssru/
}

# Configuration file /home/webhook/configuration/configuration/INL.cfg
# Edited by PyNag on Wed Aug 19 14:00:07 2015

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_oai!http!repository.clarin.inl.nl!/oai/provider!80
	 servicegroups                  INL_centerregistry            
	 host_name                      INL                           
	 service_description            OAI@INL@repository.clarin.inl.nl/oai/provider
}

