# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:07 2017

define host {
	 use                            custom-active-host            
	 display_name                   Instituut voor de Nederlandse Taal
	 _LAT                           52.158137                     
	 contacts                       sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          4.480772                      
	 host_name                      IVDNT                         
}

# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:07 2017

define servicegroup {
	 alias                          IVDNT_centerregistry          
	 servicegroup_name              IVDNT_centerregistry          
}

# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:08 2017

define servicegroup {
	 alias                          IVDNT                         
	 servicegroup_members           IVDNT_centerregistry          
	 servicegroup_name              IVDNT                         
}

# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:08 2017

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_oai!http!repository.clarin.inl.nl!/oai/provider!80
	 servicegroups                  IVDNT_centerregistry          
	 host_name                      IVDNT                         
	 service_description            OAI@IVDNT@repository.clarin.inl.nl/oai/provider
}

# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:08 2017

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_cql!http!brievenalsbuit.inl.nl!/zbsru/!80
	 servicegroups                  IVDNT_centerregistry          
	 host_name                      IVDNT                         
	 service_description            CQL@IVDNT@brievenalsbuit.inl.nl/zbsru/
}

# Configuration file /home/webhook/configuration/configuration/IVDNT.cfg
# Edited by PyNag on Wed Mar  1 18:00:08 2017

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,systeembeheer_inl.nl@clarin.eu
	 check_command                  check_cql!http!gysseling.corpus.taalbanknederlands.inl.nl!/gyssru/!80
	 servicegroups                  IVDNT_centerregistry          
	 host_name                      IVDNT                         
	 service_description            CQL@IVDNT@gysseling.corpus.taalbanknederlands.inl.nl/gyssru/
}

