# Configuration file /home/webhook/configuration/configuration/MMSH's Phonotheque.cfg
# Edited by PyNag on Mon Jul  3 19:00:09 2017

define host {
	 use                            custom-active-host            
	 display_name                   Mediterranean Research Centre for the Humanities' Phonotheque
	 _LAT                           43.535070                     
	 contacts                       sysops@clarin.eu,veronique.ginouves@univ-amu.fr
	 check_command                  check_dummy                   
	 _LONG                          5.446179                      
	 host_name                      MMSH's Phonotheque            
}

# Configuration file /home/webhook/configuration/configuration/MMSH's Phonotheque.cfg
# Edited by PyNag on Mon Jul  3 19:00:09 2017

define servicegroup {
	 alias                          MMSH's Phonotheque_centerregistry
	 servicegroup_name              MMSH's Phonotheque_centerregistry
}

# Configuration file /home/webhook/configuration/configuration/MMSH's Phonotheque.cfg
# Edited by PyNag on Mon Jul  3 19:00:09 2017

define servicegroup {
	 alias                          MMSH's Phonotheque            
	 servicegroup_members           MMSH's Phonotheque_centerregistry
	 servicegroup_name              MMSH's Phonotheque            
}

