# Configuration file /home/webhook/configuration/configuration/MPCDF.cfg
# Edited by PyNag on Fri Jun 12 13:00:07 2015

define host {
	 use                            custom-active-host            
	display_name                  Max Planck Computing and Data Facility
	 _LAT                           48.263477                     
	contacts                      dummy
	 check_command                  check_dummy                   
	 _LONG                          11.671697                     
	 host_name                      MPCDF                         
}

# Configuration file /home/webhook/configuration/configuration/MPCDF.cfg
# Edited by PyNag on Fri Jun 12 13:00:08 2015

define servicegroup {
	 alias                          MPCDF                         
	 servicegroup_name              MPCDF                         
}

# Configuration file /home/webhook/configuration/configuration/MPCDF.cfg
# Edited by PyNag on Fri Jun 12 13:00:08 2015

define servicegroup {
	 alias                          MPCDF_centerregistry          
	 servicegroup_name              MPCDF_centerregistry          
}

