# Configuration file configuration/configuration/MPI-PL.cfg
# Edited by PyNag on Wed Jun 10 12:28:02 2015

define host {
    use                      custom-active-host
    display_name             MPI for Psycholinguistics
    _LAT                     51.818046
	contacts                      sysops@clarin.eu,dietuyt_mpi.nl@clarin.eu
    check_command            check_dummy
    _LONG                    5.857079
    host_name                MPI-PL
}

# Configuration file configuration/configuration/MPI-PL.cfg
# Edited by PyNag on Wed Jun 10 12:28:02 2015

define servicegroup {
     alias                   MPI-PL_centerregistry
     servicegroup_name       MPI-PL_centerregistry
}

# Configuration file configuration/configuration/MPI-PL.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define service {
    use                      custom-active-service,srv-pnp
	contacts                      sysops@clarin.eu,dietuyt_mpi.nl@clarin.eu
    check_command            check_oai!http!corpus1.mpi.nl!/ds/oaiprovider/oai2!80
    servicegroups            MPI-PL_centerregistry
    service_description      OAI@MPI-PL@corpus1.mpi.nl/ds/oaiprovider/oai2
    host_name                MPI-PL
}

# Configuration file configuration/configuration/MPI-PL.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define service {
    use                      custom-active-service,srv-pnp
	contacts                      sysops@clarin.eu,dietuyt_mpi.nl@clarin.eu
    check_command            check_cql!http!cqlservlet.mpi.nl!/!80
    servicegroups            MPI-PL_centerregistry
    service_description      CQL@MPI-PL@cqlservlet.mpi.nl/
    host_name                MPI-PL
}
# Configuration file /home/webhook/configuration/configuration/MPI-PL.cfg
# Edited by PyNag on Wed Jul  8 12:00:07 2015

define servicegroup {
	 alias                          MPI-PL                        
	 servicegroup_name              MPI-PL                        
}

