# Configuration file configuration/configuration/OTA.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define host {
	 use                            custom-active-host            
	 display_name                   Oxford Text Archive           
	 _LAT                           51.757571                     
	contacts                      sysops@clarin.eu,martin.wynne@it.ox.ac.uk
	 check_command                  check_dummy                   
	 _LONG                          -1.261824                     
	 host_name                      OTA                           
}

# Configuration file configuration/configuration/OTA.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
	 alias                          OTA                           
	 servicegroup_name              OTA                           
	servicegroup_members          OTA_centerregistry
}

# Configuration file configuration/configuration/OTA.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
	 alias                          OTA_centerregistry            
	 servicegroup_name              OTA_centerregistry            
}

# Configuration file configuration/configuration/OTA.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,martin.wynne@it.ox.ac.uk
	 check_command                  check_oai!http!www.ota.ox.ac.uk!/cgi-bin/oai.pl!80
	 servicegroups                  OTA_centerregistry            
	 service_description            OAI@OTA@www.ota.ox.ac.uk/cgi-bin/oai.pl
	host_name                     OTA
}

