# Configuration file /home/webhook/configuration/configuration/Phonogrammarchiv.cfg
# Edited by PyNag on Wed Mar  1 15:00:09 2017

define host {
	 use                            custom-active-host            
	 display_name                   Phonogrammarchiv Institute for audiovisual Research and Documentation
	 _LAT                           48.2133217                    
	 contacts                       sysops@clarin.eu,johannes.spitzbart_oeaw.ac.at@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          16.3553763                    
	 host_name                      Phonogrammarchiv              
}

# Configuration file /home/webhook/configuration/configuration/Phonogrammarchiv.cfg
# Edited by PyNag on Wed Mar  1 15:00:09 2017

define servicegroup {
	 alias                          Phonogrammarchiv_centerregistry
	 servicegroup_name              Phonogrammarchiv_centerregistry
}

# Configuration file /home/webhook/configuration/configuration/Phonogrammarchiv.cfg
# Edited by PyNag on Wed Mar  1 15:00:09 2017

define servicegroup {
	 alias                          Phonogrammarchiv              
	 servicegroup_members           Phonogrammarchiv_centerregistry
	 servicegroup_name              Phonogrammarchiv              
}

