# Configuration file /home/webhook/configuration/configuration/PolMine.cfg
# Edited by PyNag on Tue Oct 11 23:00:10 2016

define host {
	 use                            custom-active-host            
	 display_name                   PolMine Project               
	 _LAT                           51.4294378                    
	 contacts                       sysops@clarin.eu,simgeh_posteo.de@clarin.ei
	 check_command                  check_dummy                   
	 _LONG                          6.7993325                     
	 host_name                      PolMine                       
}

# Configuration file /home/webhook/configuration/configuration/PolMine.cfg
# Edited by PyNag on Tue Oct 11 23:00:10 2016

define servicegroup {
	 alias                          PolMine_centerregistry        
	 servicegroup_name              PolMine_centerregistry        
}

# Configuration file /home/webhook/configuration/configuration/PolMine.cfg
# Edited by PyNag on Tue Oct 11 23:00:10 2016

define servicegroup {
	 alias                          PolMine                       
	 servicegroup_members           PolMine_centerregistry        
	 servicegroup_name              PolMine                       
}

# Configuration file /home/webhook/configuration/configuration/PolMine.cfg
# Edited by PyNag on Tue Oct 11 23:00:10 2016


# Configuration file /home/webhook/configuration/configuration/PolMine.cfg
# Edited by PyNag on Tue Oct 25 10:00:08 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,simgeh_posteo.de@clarin.ei
	 check_command                  check_oai!http!polmine.sowi.uni-due.de!/oai/provider!8080
	 servicegroups                  PolMine_centerregistry        
	 host_name                      PolMine                       
	 service_description            OAI@PolMine@polmine.sowi.uni-due.de/oai/provider
}

