# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/RZG.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define host {
	 use                            custom-active-host            
	 display_name                   Rechenzentrum Garching        
	 _LAT                           48.263477                     
	 contacts                       gAAAAABVZx5r02oV0TjG2lMpkjmhkIeOM9u597ii2rxQJFuWvqlvykiUPC1W2dxqW6HJn0Xv4p4CcSKeGK2mLsxWTqj8iKKFGw==
	 check_command                  check_dummy                   
	 _LONG                          11.671697                     
	 host_name                      RZG                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/RZG.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
	 alias                          RZG                           
	 servicegroup_name              RZG                           
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/RZG.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
	 alias                          RZG_centerregistry            
	 servicegroup_name              RZG_centerregistry            
}

