# Configuration file configuration/configuration/RZG.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define host {
    use                            custom-active-host
    display_name                   Rechenzentrum Garching
    _LAT                           48.263477
	contacts                      dummy
    check_command                  check_dummy
    _LONG                          11.671697
    host_name                      RZG
}

# Configuration file configuration/configuration/RZG.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
    alias                          RZG_centerregistry
    servicegroup_name              RZG_centerregistry
}

