# Configuration file /home/webhook/configuration/configuration/Spanish K-Centre.cfg
# Edited by PyNag on Thu Oct  1 12:00:08 2015

define host {
	 use                            custom-active-host            
	 display_name                   Spanish CLARIN K-Centre       
	 _LAT                           41.3895849                    
	 contacts                       sysops@clarin.eu,nuria.bel@upf.edu
	 check_command                  check_dummy                   
	 _LONG                          2.1914035                     
	 host_name                      Spanish K-Centre              
}

# Configuration file /home/webhook/configuration/configuration/Spanish K-Centre.cfg
# Edited by PyNag on Thu Oct  1 12:00:08 2015

define servicegroup {
	 alias                          Spanish K-Centre              
	 servicegroup_name              Spanish K-Centre              
}

# Configuration file /home/webhook/configuration/configuration/Spanish K-Centre.cfg
# Edited by PyNag on Thu Oct  1 12:00:08 2015

define servicegroup {
	 alias                          Spanish K-Centre_centerregistry
	 servicegroup_name              Spanish K-Centre_centerregistry
}

