# Configuration file /home/webhook/configuration/configuration/Spr?kbanken.cfg
# Edited by PyNag on Tue Nov 29 08:56:29 2016

define host {
	 use                            custom-active-host            
	 display_name                   Spr?kbanken, The Swedish language bank
	 _LAT                           57.6938986                    
	 contacts                       sysops@clarin.eu,sb-sysadmin@svenska.gu.se
	 check_command                  check_dummy                   
	 _LONG                          11.9815064                    
	 host_name                      Spr?kbanken                   
}

# Configuration file /home/webhook/configuration/configuration/Spr?kbanken.cfg
# Edited by PyNag on Tue Nov 29 08:56:29 2016

define servicegroup {
	 alias                          Spr?kbanken_centerregistry    
	 servicegroup_name              Spr?kbanken_centerregistry    
}

# Configuration file /home/webhook/configuration/configuration/Spr?kbanken.cfg
# Edited by PyNag on Tue Nov 29 08:56:29 2016

define servicegroup {
	 alias                          Spr?kbanken                   
	 servicegroup_members           Spr?kbanken_centerregistry    
	 servicegroup_name              Spr?kbanken                   
}

# Configuration file /home/webhook/configuration/configuration/Spr?kbanken.cfg
# Edited by PyNag on Tue Nov 29 08:56:29 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,sb-sysadmin@svenska.gu.se
	 check_command                  check_oai!https!repo.spraakbanken.gu.se!/oai/request!443
	 servicegroups                  Spr?kbanken_centerregistry    
	 host_name                      Spr?kbanken                   
	 service_description            OAI@Spr?kbanken@repo.spraakbanken.gu.se/oai/request
}

# Configuration file /home/webhook/configuration/configuration/Spr?kbanken.cfg
# Edited by PyNag on Tue Nov 29 08:56:29 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,sb-sysadmin@svenska.gu.se
	 check_command                  check_cql!https!spraakbanken.gu.se!/ws/fcs/2.0/endpoint/korp/sru!443
	 servicegroups                  Spr?kbanken_centerregistry    
	 host_name                      Spr?kbanken                   
	 service_description            CQL@Spr?kbanken@spraakbanken.gu.se/ws/fcs/2.0/endpoint/korp/sru
}

