# Configuration file /home/webhook/configuration/configuration/TextLab.cfg
# Edited by PyNag on Thu May 18 16:00:08 2017

define host {
	 use                            custom-active-host            
	 display_name                   CLARINO Text Laboratory Centre
	 _LAT                           59.9421883                    
	 contacts                       sysops@clarin.eu,tekstlab-post_iln.uio.no@clarin.eu
	 check_command                  check_dummy                   
	 _LONG                          10.722153                     
	 host_name                      TextLab                       
}

# Configuration file /home/webhook/configuration/configuration/TextLab.cfg
# Edited by PyNag on Thu May 18 16:00:08 2017

define servicegroup {
	 alias                          TextLab_centerregistry        
	 servicegroup_name              TextLab_centerregistry        
}

# Configuration file /home/webhook/configuration/configuration/TextLab.cfg
# Edited by PyNag on Thu May 18 16:00:08 2017

define servicegroup {
	 alias                          TextLab                       
	 servicegroup_members           TextLab_centerregistry        
	 servicegroup_name              TextLab                       
}

# Configuration file /home/webhook/configuration/configuration/TextLab.cfg
# Edited by PyNag on Thu May 18 16:00:08 2017

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,tekstlab-post_iln.uio.no@clarin.eu
	 check_command                  check_oai!http!tekstlab.uio.no!/oai!80
	 servicegroups                  TextLab_centerregistry        
	 host_name                      TextLab                       
	 service_description            OAI@TextLab@tekstlab.uio.no/oai
}

