# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define host {
	 use                            custom-active-host            
	display_name                  Universitat des Saarlandes
	 _LAT                           49.256004                     
	contacts                      sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_dummy                   
	 _LONG                          7.039011                      
	 host_name                      UdS                           
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define servicegroup {
	 alias                          UdS                           
	 servicegroup_name              UdS                           
	servicegroup_members          UdS_centerregistry
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define servicegroup {
	 alias                          UdS_centerregistry            
	 servicegroup_name              UdS_centerregistry            
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_oai!http!fedora.clarin-d.uni-saarland.de!/oaiprovider/!80
	 servicegroups                  UdS_centerregistry            
	 service_description            OAI@UdS@fedora.clarin-d.uni-saarland.de/oaiprovider/
	host_name                     UdS
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru/!80
	 servicegroups                  UdS_centerregistry            
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru/
	host_name                     UdS
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru2/!80
	 servicegroups                  UdS_centerregistry            
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru2/
	host_name                     UdS
}

# Configuration file configuration/configuration/UdS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define service {
	 use                            custom-active-service,srv-pnp 
	contacts                      sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru3/!80
	 servicegroups                  UdS_centerregistry            
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru3/
	host_name                     UdS
}

# Configuration file /home/webhook/configuration/configuration/UdS.cfg
# Edited by PyNag on Mon Mar  7 16:50:58 2016

define service {
	 use                            custom-active-service,srv-pnp 
	 contacts                       sysops@clarin.eu,j.knappen@mx.uni-saarland.de
	 check_command                  check_cql!http!fedora.clarin-d.uni-saarland.de!/sru4/!80
	 servicegroups                  UdS_centerregistry            
	 host_name                      UdS                           
	 service_description            CQL@UdS@fedora.clarin-d.uni-saarland.de/sru4/
}

