# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/UIL-OTS.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define host {
	 use                            custom-active-host            
	 display_name                   Utrecht Institute of Linguistics OTS
	 _LAT                           52.090132                     
	 contacts                       gAAAAABVZx5t172NoG9e_tq-fF19MvWk8Q7mb9VJrNw-8Mi8l5yTNJnwGrLm_GNGi2OFCQEq-QoCzrfOq0ljDA73UvByCB55JTGRsk5Jsm5tgtJzCk6o5Fw=
	 check_command                  check_dummy                   
	 _LONG                          5.122917                      
	 host_name                      UIL-OTS                       
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/UIL-OTS.cfg
# Edited by PyNag on Wed Jun 10 12:28:03 2015

define servicegroup {
	 alias                          UIL-OTS                       
	 servicegroup_name              UIL-OTS                       
}

# Configuration file /Users/benedikt/Documents/workspaces/PycharmProjects/clarin-monitoring-configuration/config_generation/configuration/configuration/UIL-OTS.cfg
# Edited by PyNag on Wed Jun 10 12:28:04 2015

define servicegroup {
	 alias                          UIL-OTS_centerregistry        
	 servicegroup_name              UIL-OTS_centerregistry        
}

