# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:12 2015

define contact {
	 use                            generic-contact               
	 email                          dieter@clarin.eu              
	 contact_name                   dietuyt_mpi.nl@clarin.eu      
}

# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:12 2015

define contact {
	 use                            generic-contact               
	 email                          sander@clarin.eu              
	 contact_name                   sander_clarin.eu@clarin.eu    
}

# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:12 2015

define contact {
	 use                            generic-contact               
	 email                          CLARIN-support@fz-juelich.de  
	 contact_name                   CLARIN-support@fz-juelich.de  
}

# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:12 2015

define contact {
	 use                            generic-contact               
	 email                          emanuel.dima@uni-tuebingen.de 
	 contact_name                   emanuel.dima_uni-tuebingen.de@clarin.eu
}

# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:12 2015

define contact {
	 use                            generic-contact               
	 email                          ccoltekin@gmail.com           
	 contact_name                   ccoltekin_gmail.com@clarin.eu 
}

# Configuration file configuration/configuration/pynag/contacts.cfg
# Edited by PyNag on Thu Jul 16 09:00:13 2015

define contact {
	 use                            generic-contact               
	 email                          dieter@clarin.eu              
	 contact_name                   dietervu_gmail.com@clarin.eu  
}

