define servicegroup {
     servicegroup_name      MPCDF-servicegroup
}

# Template
define service {
    check_interval          60
    name                    MPCDF-service
    register                0
    servicegroups           MPCDF-servicegroup
    use                     clarin-direct-warning
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!discojuice!443!!
    host_name               discovery.clarin.eu
    service_description     CLARIN DS [UI][prod]
    use                     MPCDF-service
}

define service {
    check_command           probe_json!https!$HOSTADDRESS$!proxy!443!
    host_name               discovery.clarin.eu
    service_description     CLARIN DS [JSON][prod]
    use                     MPCDF-service
}

define service {
    check_command           probe_central_discovery_service_json!https!discovery.clarin.eu!status!443!
    service_description     CLARIN DS [prod] IdP count
    host_name               discovery.clarin.eu
    use                     MPCDF-service
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!profile/Status!443!!--tlsv1
    host_name               idp.clarin.eu
    service_description     CLARIN IdP [UI][prod]
    use                     MPCDF-service
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!profile/Status!443!!--tlsv1
    host_name               dev-idp.clarin.eu
    service_description     CLARIN IdP [UI][dev]
    use                     MPCDF-service
}

define service {
    check_command           probe_http_head!https!$HOSTADDRESS$!about!443!!--tlsv1
    host_name               centres.clarin.eu
    service_description     CLARIN Centre Registry [UI][prod]
    use                     MPCDF-service
}

define service {
    check_command           check_nrpe!check_load
    check_interval          10
	contacts                dummy
    hostgroup_name          mpcdf-common
    service_description     LOAD
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe
	contacts                dummy
    description             ANRPE
    hostgroup_name          mpcdf-common
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_ssh
	contacts                dummy
    description             SSH
    hostgroup_name          mpcdf-common
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_ram
	contacts                dummy
    description             MEMORY
    hostgroup_name          mpcdf-common
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_root
	contacts                dummy
    description             DISK
    hostgroup_name          mpcdf-common
    register                1
    use                     custom-passive-service,srv-pnp
}

define service {
    check_command           check_nrpe!check_network
	contacts                dummy
    description             IPTRAFFIC
    hostgroup_name          mpcdf-common
    register                1
    use                     custom-passive-service,srv-pnp
}
